body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #add8e6;
}
.nav-logo img {
  width: 80px;
  height: 80px;
}
.navbar {
  padding: 0 3%;
  display: flex;
  align-items: center;
  background-color: #CD853F;
}
.nav-links {
  margin: auto;
}
.nav-links a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid #FAF0E6;
  transition: 0.2s;
  border-radius: 5px;
}
.nav-links a:hover {
  background-color: #FAF0E6;
  color: #000;
  border: 2px solid #000;
}
/* header */
.App_header {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffe0;
  text-align: center;

}

input[type="text"] {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  border-radius: 8px;
  height: 25px;
  text-align: start;
  outline: none;
  border: 1px solid #000;
}

textarea {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  border-radius: 8px;
  text-align: start;
  outline: none;
  border: 1px solid #000;
}
input[type="submit"] {
  margin-bottom: 10px;
  color: #000;
  background-color: #fff;
  padding: 10px 15px;
  border: 2px solid #CD853F;
  transition: 0.2s;
  border-radius: 8px;
}
input[type="submit"]:hover {
  background-color: #FAF0E6;
  color: #000;
  border: 2px solid #000;
}
